{
  "pkdesc": "2nd Polska OI: Ones and Zeros",
  "pbcode": "drz",
  "tl": 1000,
  "ml": 65536,
  "warmup": "g++ -O2 -o {PROBLEM} {PROBLEM}.cpp",
  "execute": "./{PROBLEM}",
  "inp": "{PROBLEM}*.in",
  "out": "{PROBLEM}*.out",
  "tstdir": "{PROBLEM}_tests/",
  "iopairs": {
    "drz0.in": "drz0.out",
    "drz1.in": "drz1.out",
    "drz2.in": "drz2.out",
    "drz3.in": "drz3.out",
    "drz4.in": "drz4.out",
    "drz5.in": "drz5.out",
    "drz6.in": "drz6.out",
    "drz7.in": "drz7.out"
  },
  "iopairs": {
    "inp": ["drz0.in", "drz1.in", "drz2.in", "drz3.in", "drz4.in", "drz5.in"],
    "out": ["drz0.out", "drz1.out", "drz2.out", "drz3.out", "drz4.out", "drz5.out"]
  }
}
